
<%- include('partials/header') %>

<div>
    <form action="/register" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="password_retype">Password</label>
            <input type="password" name="password_retype">
        </div>
        <button class="button" type="submit">Register</button>
    </form>
</div>

<%- include('partials/footer') %>