body {
  background: #bbb;
}

.main_container {
  position: absolute;
  width: 40rem;
  left: calc(50% - 20rem);
  top: 20%;
  display: flex;
  flex-direction: column;
}

.button {
  border: 1px solid #eee;
  background: #470;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1.5rem;
  text-decoration: none;
}

.button:hover {
  color: #e6e6e6;
  background: #232;
}

.button:active {
  color: #fff;
  background: #222;
}
